#################
## Cadence
#################
allegro
*.opj
*.BOM
*.DSNlck
*.DBK
*.DRC
*.dat
*.log
*.swp
*.txt
*.tag
*.lst
*.cfg
*.jrl
*.lck
*.dmp
*,1
*,2
*,3
#################
## Allegro
#################
signoise.run
*.art
*.did
*.dml
*.drl
*.jrl
*.txt
*.tag
*.lst
*.SAV
*.sts
*.dmp
*.lck
*.log
*.iml
*.rar